@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-text-color: #183b56;
  --secondary-text-color: #577592;
  --accent-color: #2294ed;
  --accent-color-dark: #1d69a3;
  --padding-inline-section: 20px;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--primary-text-color);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  color: var(--secondary-text-color);
  line-height: 1.8rem;
}

a {
  text-decoration: none;
  display: inline-block;
}
ul {
  list-style: none;
}

/* Utility classes */
.small-bold-text {
  font-size: 1rem;
  font-weight: 700;
}

.container {
  max-width: 1180px;
  margin-inline: auto;
  padding-inline: var(--padding-inline-section);
  overflow: hidden;
}

.flex {
  display: flex;
  align-items: center;
}
.hover-link {
  color: var(--primary-text-color);
  transition: 0.2s ease-out;
}

.hover-link:hover {
  color: var(--accent-color);
}

.primary-btn {
  background-color: var(--accent-color);
  border-radius: 6px;
  font-weight: 700;
  color: white !important;
  box-shadow: 0 0 2px var(--secondary-text-color);
  transition: 0.2s ease-out;
  padding: 12px 24px;
}

.primary-btn:hover {
  background-color: var(--accent-color-dark);
}

.secondary-btn {
  border: 0.5px solid var(--secondary-text-color);
  font-weight: 700;
  color: var(--primary-text-color) !important;
  border-radius: 6px;
  padding: 12px 24px;
  transition: 0.2s ease-out;
}

.secondary-btn:hover {
  border-color: var(--accent-color);
  color: var(--accent-color) !important;
}

/* top banner */
.top-banner {
  background-image: url("asset 30.png");
  background-color: #4fb3d4;
  background-size: 400px;
}
.banner-text {
  color: white;
  padding: 15px 30px;
  text-align: center;
}

/* Nav bar */
.main-nav {
  top: 20px;
  justify-content: space-between;
  height: auto;
  position: relative;
}

.company-logo img {
  width: 200px;
  margin-right: 20px;
}
.nav-links {
  flex-basis: 730px;
}
.nav-links ul {
  justify-content: end;
  gap: 40px;
}
.nav-toggle {
  display: none;
}

/* hero-section */

.hero-section {
  display: flex;
  padding-top: 50px;
  /* justify-content: center; */
  align-items: center;
  gap: 50px;
}
.header-left {
  width: 70vw;
}

.header-left p {
  padding: 20px;
  padding-left: 0;
}

.header-right img {
  width: 100%;
}

/* Companies section */
.companies-section {
  margin-top: 20px;
}
.flex-companies {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.comapnies-logo {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.cmp {
  height: 46px;
  width: 84px;
  margin-left: 40px;
}

#cmp5 {
  flex-basis: 150px;
}

#cmp7 {
  flex-basis: 44px;
}
#cmp4 {
  flex-basis: 100px;
}
#cmp6 {
  flex-basis: 145px;
}
#cmp8 {
  flex-basis: 223px;
}
#cmp9 {
  flex-basis: 104px;
}

/* features section */
.feature-section {
  padding: 80px var(--padding-inline-section);
  background-image: url("asset 32.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.features-header {
  text-align: center;
  margin-bottom: 40px;
}

.features-header a {
  margin-top: 30px;
}
.features-area {
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
  align-content: center;
}
.features-cards {
  flex-direction: column;
  gap: 20px;
  max-width: 30%;
  text-align: center;
}

/* big feature section */
.big-feature-section {
  padding: 30px var(--padding-inline-section) 0;
}

.big-feature-container {
  gap: 30px;
}

.feature-img img {
  width: 100%;
}

.feature-desc {
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

#second-big-feature {
  flex-direction: row-reverse;
}

/* example sections */
.example-section {
  margin-top: 40px;
}

.examples-area {
  margin-top: 20px;
  margin-block: 30px;
  flex-wrap: wrap;
  gap: 20px;
}

.examples-card {
  width: 23%;
  position: relative;
  height: 300px;
  background: black;
  background: linear-gradient(rgb(0, 0, 0, 0.7), rgb(0, 0, 0, 0.7)),
    url("asset 35.jpeg");
  background-size: cover;
  display: flex;
  align-items: end;
}

.card-text {
  position: absolute;
  right: 20px;
  left: 20px;
  bottom: 20px;
  color: white;
}

.examples-card:nth-child(3) {
  background: linear-gradient(rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.7)),
    url("asset 36.jpeg");
  background-size: cover;
}

.examples-card:nth-child(4) {
  background: linear-gradient(rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.7));
  background-size: cover;
}
